<!DOCTYPE html>
<html>
<head>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>

<title>Title</title>
</head>
<body> 
    <div style="margin:5% 5%">

        <div id="output">
        </div>

    </div>
</body>

<script type="text/babel">
    class Test extends React.Component {

        render(){
            return(
                <div>
                     <h1>This is a React content</h1>
                </div>
            )
        }
    }

ReactDOM.render(<Test/>,document.getElementById('output'));

</script>
</html>